<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>test</title>
 
</head>

<body>
<form  method="post" action="/auth/ipt">
    <input name="name" type="text" id="name"/>
   	<input name="password" type="text" id="password"/>
  <input name="submit" type="submit" value="submit" />
  <select name="ff" multiple  style=" width:120px;">
    <option value="1">1</option>
    <option value="2">2</option>
  </select>
</form>
</body>
</html>
