<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>登录</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css"/>
<script  src="/static/js/jquery.min.js"></script>
<script src="/static/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
<div data-role="page">
  <div data-role="header">
    <a href="/nomal/" data-role="button" data-icon="home">首页</a>
    	<h1>搜索</h1>
    	 
  	 
  </div>
  <!-- /header -->
  
  <div data-role="content">
    <form  method="post" action="/auth/login" enctype='multipart/form-data'>
 
      <ul data-role="listview" data-filter="true">
    <li><a href="#page2">美女1</a></li>
    <li><a href="#page2">美女2</a></li>
    <li><a href="#page2">美女3</a></li>
</ul>
 
    </form>
  </div>
  <!-- /content -->
  
  <div data-role="footer" data-position="fixed">
    <h4>lovesword@2016</h4>
  </div>
  <!-- /footer --> 
</div>
<!-- /page -->

</body>
</html>
