<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>登录</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css"/>
<script  src="/static/js/jquery.min.js"></script>
<script src="/static/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
<div data-role="page">
  <div data-role="header">
    <a href="/main" data-role="button" data-icon="home">首页</a>
    	<h1>用户注册</h1>
    	<a href="#" data-role="button" class="ui-btn-right" data-icon="search">搜索</a>
  	 
  </div>
  <!-- /header -->
  
  <div data-role="content">
    <form  method="post" action="/auth/register" enctype='multipart/form-data'>
    <div data-role="fieldcontain" style="border-bottom-style:hidden;">
      <label for="username"> 手机号： </label>
      <input name="username" type="text" id="username"/>
      </div>
      <div data-role="fieldcontain" style="border-bottom-style:hidden;">
      <label for="password"> 输入密码： </label>
      <input name="password" type="password" id="password"/>
      </div>
       <div data-role="fieldcontain" style="border-bottom-style:hidden;">
      <label for="password1"> 确认密码： </label>
      <input name="password1" type="password" id="password1"/>
      </div>     
      
      
      <input name="submit" type="submit" value="注册" />
      <div class="row cl">
        <div class="col-9 col-offset-3"> 
        {% with messages = get_flashed_messages() %}
          {% if messages %}
          
          {% for message in messages %}
          <p style='color:red'>{{ message|safe }}</p>
          {% endfor %}
          {% endif %}
          {% endwith %}
           </div>
      </div>
    </form>
  </div>
  <!-- /content -->
  
  <div data-role="footer" data-position="fixed">
    <h4>lovesword@2016</h4>
  </div>
  <!-- /footer --> 
</div>
<!-- /page -->

</body>
</html>
